################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestWebApp/.vs/TestWebApp
/TestWebApp/TestWebApp/obj
